NODE_ENV=development
GAME_MANAGE_KIT_MYSQL_URL=mysql://root@127.0.0.1:3306/game_manage_kit
GAME_MANAGE_KIT_TEST_MYSQL_ADMIN_URL=mysql://root@127.0.0.1:3306/mysql
GAME_MANAGE_KIT_MYSQL_POOL_SIZE=20
GAME_MANAGE_KIT_PUBLIC_HOST=127.0.0.1
GAME_MANAGE_KIT_PUBLIC_PORT=2570
GAME_MANAGE_KIT_INTERNAL_HOST=127.0.0.1
GAME_MANAGE_KIT_INTERNAL_PORT=2571
GAME_MANAGE_KIT_ADMIN_ORIGIN=http://127.0.0.1:2571
GAME_MANAGE_KIT_TRUST_PROXY_CIDRS=
GAME_MANAGE_KIT_BODY_LIMIT_BYTES=65536
GAME_MANAGE_KIT_REQUEST_TIMEOUT_MS=10000
GAME_MANAGE_KIT_SHUTDOWN_TIMEOUT_MS=10000
AUTH_DEV_ENABLED=1
GAME_MANAGE_KIT_LOG_ENABLED=1
